<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Test</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
        <header class="container">
            <h1>Header</h1>
            <nav>
                <a href="#">Link 1</a>
                <a href="#">Link 2 </a>
        
        </nav>
    </header>
        <main class="container">
            <h1>Content</h1>
            <img src="images/leaf.JPG" alt="Leaf">
            <img src="images/rabbit.JPG" alt="Rabbit">
            <img src="images/ripplingstreamwithleaves.JPG" alt="Stream with Leaves">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores consequuntur ipsum voluptatibus illo vero porro laudantium. Error, tempora eligendi dicta, maxime sit nam in itaque, perferendis corporis minima dolor excepturi!
            Cupiditate optio amet voluptatibus vero ratione doloribus suscipit? Earum, molestias. Autem voluptas culpa a, aspernatur incidunt quam minima deserunt et quibusdam fuga ipsa facilis ad consequatur numquam facere minus eveniet.
            Voluptate facere, mollitia numquam qui rerum, veniam distinctio quod amet dolore dolores, iure voluptatum. Velit, neque asperiores incidunt exercitationem alias similique qui, atque itaque, ipsam recusandae pariatur eaque accusamus provident.
            Minima repellendus porro, nesciunt autem non praesentium aliquam voluptatum similique recusandae, perspiciatis dolorem magni officiis minus expedita. Tempore ipsa expedita ducimus dicta corporis itaque, nemo, doloribus dolorem ullam cupiditate dolor.
            Temporibus possimus sunt veritatis cum quas libero facere, blanditiis vero beatae unde. Sed officia doloremque molestias facere facilis doloribus fugit cum alias, nemo, exercitationem, sit magnam officiis cupiditate? Corrupti, saepe.
            Provident, placeat quod! Magni, doloremque sint. Accusantium esse ea laborum pariatur? Pariatur animi labore nostrum numquam amet laborum illo corrupti ex, dolore eaque, fugit esse, laboriosam quaerat explicabo iure corporis.
            Dolorum quia explicabo quae suscipit dolore soluta unde aliquam, neque repudiandae corporis, totam officiis excepturi! Quasi fugiat reiciendis accusantium neque provident molestiae, facere quam dolores rerum ducimus nemo obcaecati ad.
        </p>
        <figure>
            <img src="images/snowytrees.JPG" alt="Snowy Trees">
            <img src="https://dummyimage.com/600x400/000/fff.png&text=Image+1" alt="Test Image">
            <figcaption>Fig. 1 - Snowy Trees</figcaption>
            <figcaption>Fig. 2 - Test Image</figcaption>
        </figure>
        
    </main>
    <aside class="container">
        <img src="images/rocktunnel.JPG" alt="Rock Tunnel">
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta porro eaque quo! Debitis illo et corporis dolorem est similique delectus error, rem labore maxime molestias sed consequatur earum obcaecati alias.
            Voluptate, laboriosam soluta? Aperiam iste nisi sed quo non ex animi porro error facere sint nulla quis reprehenderit alias corporis possimus enim vero, repudiandae quam perspiciatis sit id aliquam magni.
        </p>
    
    </aside>
        <footer class="container">
            <h1>Footer</h1>
            <p>&copy; 2023 Frank Frantz</p>
        </footer>
    
</body>
</html>