/* styles.css (Combined Stylesheet for Photography Page) */

/* Reset some default styles for better consistency */
body, h1, h2, p, img {
    margin: 0;
    padding: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
    background: lightgreen
}

/* Style the header */
header {
    text-align: center;
    background: #333;
    color: orange;
    padding: 20px;
}
h1 { 
    background: #333;}
h2 {
    
    color: purple;}
/* Style the main content */
article {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Style the images */
img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

/* Add styling to make navigation items look like buttons */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
nav {
    background-color: #333;
    padding: 10px;
    margin-bottom: 10px;
}
nav a:hover, .current {
    background-color: #2980b9;
}
ol li {
    list-style-type: none;
}
.mainpage {
    width: 50%;
    display: inline-block;
}
.mainpage figcaption{
    font-size: 100%;
    text-align: center;
}
main {
    text-align: center;
}
