/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of reset */
/* Colors 
 bright: #6DA34D
 muted: #5E503F
 dark: #0A0908
 light: #F2F4F3
 intense: #22333B
 */
/* Font */

:root{
    --word-font: 'Roboto Mono', monospace;
    --title-font: 'Roboto Slab', serif;
    --green: #6DA34D;
    --gray: #22333B;
    --black: #0A0908;
    --white: #F2F4F3;
    --brown: #5E503F;
    --light-gray:#1b252a;
}
body{
    margin: 20px 0;
    font-family: var(--word-font);
    background-image: url('../images/wave.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    color: var(--green)
    
    
}
nav{
    text-align: center;
    margin: 10px auto;
    

}
nav a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    margin: 10px 20px;
    border-radius: 20%;
    background-color: var(--green);
    font-family: var(--title-font);
    width: 90%;
    color: var(--black);
}
nav a:hover{
    color: aliceblue;

}
aside img{
    width: 50%;
    height: auto;
    margin: 10px auto;
    text-align: center;
    display:inline-block;
    padding: 1.3%;
    border-radius: 1px 1px 0 0;
    border: var(--green) 2px solid;

}
aside p{
    text-align: center;
}
img{
    width: 30%;
    height: auto;
    margin: 10px auto;
    display:inline-block;
    padding: 1.3%;
    border-radius: 1px 1px 0 0;
    border: var(--green) 2px solid;
}
h1{
    font-family: var(--title-font);
    margin: 40px auto;
    font-size: 40px;
}
h2{
    font-family: var(--title-font);
    margin: 10px 10px;
    color: var(--light-gray);
    
}
footer{
    font-family: var(--title-font);
    text-align: center;

}
header{
    font-size: 2;
    min-height: 50px;
    text-align: center;
}
#fix{
    text-align: center;
}
main{
    background-color: var(--gray);
    line-height: 2;

}
.container{
    max-width: 1500px;
    margin: 0px auto;
    padding: 20px;
    border: var(--green) 2px solid;
    background-color: var(--gray);
    line-height: 2;
}
ul li{
    margin: 40px auto;

}
ul {
    text-align: left;
}
figcaption {
    margin: 0px 200px;

}
#left img{
    float: left;
    margin: 10px 10px;
    width: 35%;
}
#left p{
    text-align: left;
}
#right img{
    float: right;
    margin: 10px 10px;
    width: 35%;
}
#right p{
    text-align: left;
}
figure{
    min-height: 500px;
}
figure p {
    text-align: left;

    
}
#limage {
    width: 50%;
    height: auto;
    display: block;
    margin: 25px auto;    
    text-align: center;
 }
 .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
    padding: 10px;
    background-color: var(--green);
    
 }
 .grid-container > div {    
    background-color: var(--gray);
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    font-family: var(--word-font);
 }
 .grid-container img {
    width: 90%;
    height: auto;
    margin: 10px auto;
    cursor:pointer;
   
 }
 .container img{
    width: 50%;
    height: auto;
    display: block;
    margin: 25px auto;    
    text-align: center;
 
 }



* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}
[class*="col-"] {
    width: 100%;

}

@media only screen and (min-width: 768px) {
    nav a {
        width: 100%;
        text-align: center;
    }
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}